.Home { 
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;


}

.Home .Container {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;      
}

.Home h1 {
      text-align: center;
}

.Home h2{
      text-align: center;
}

.Home .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      height: 2rem;      
}

.Home img {
      position: static;
      width: 50%;
      
      left: 604.8px;
      top: 1.33px;
}


